@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

page-manage-staff {

  .header {
    border: none !important;
    box-shadow: none !important;
    color: black;

    .toolbar-background {
      background: transparent;
      border: none;
    }
  }


  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .title {
    h1 {
      font-family: 'Poiret One';
      letter-spacing: 5px;
      font-size: 8vw;

      span {
        color: #C0958D;
      }
    }
  }

  .line {
    width: 90vw;
    height: 2px;
    background: grey;
  }

  .crds {
    width: 100%;
    height: 90vh;
    overflow-y: auto;

    .crd {
      display: flex;
      flex-flow: row;
      width: 90vw;

      .image {
        width: 30vw;
        height: 15vh;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      .details {
        width: 60vw;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: baseline;
        height: 12vh;
        background: #343A3F;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        top: 12px;

        .p1 {
          margin: 0px 15px;
          font-family: 'Raleway';
          font-size: 4vw;
          color: #C0958D;
          font-size: 6vw;
        }

        .p2 {
          color: white;
          margin: 0px 15px;
          font-family: 'Raleway';
          font-size: 3vw;
        }
      }
    }
  }

}
