page-manage-staff {
  .item {
    background: rgba(231, 139, 33, 0.836);
    box-shadow: 5px 5px 10px grey;
    color: white;

  }

  h1 {
    text-align: center;
    padding: 5px;
    font-family: 'Manjari';

  }

  p {
    font-family: 'Manjari';
  }

  h2 {
    font-family: 'Manjari';
    padding: 2px;
  }

}
