page-manage-staff {
  .item {
    background: rgb(199, 198, 198);
    box-shadow: 5px 5px 10px grey;
  }

  h1 {
    text-align: center;
    padding: 5px;
    font-family: 'Manjari';

  }

  p {
    font-family: 'Manjari';
  }

  h2 {
    font-family: 'Manjari';
    padding: 2px;
  }

}
