<!--
  Generated template for the AddSalonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>addSalon</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="profileImage" class="image">
    
        <img  src="{{profileImage}}">
     </div>
      <button *ngIf="!profileImage" ion-button clear large full (click)="selectImage()">Select Image</button>
    
 <form  [formGroup]="addSalonForm">
   <ion-item >

     <ion-label > name</ion-label>
     <ion-input type="text" formControlName="ownername" [(ngModel)]="SalonOwnerProfile.ownername" ngDefaultControl></ion-input>
   </ion-item>
   <div class="error" *ngFor="let validate of validation_messages.ownername">
    <div class="messages" *ngIf="addSalonForm.get('ownername').hasError(validate.type) && (addSalonForm.get('ownername').dirty || addSalonForm.get('ownername').touched)">
      {{validate.message}}
    </div>
    </div>

    <ion-item >
     <ion-label  >  surname</ion-label>
     <ion-input type="text"   formControlName="ownerSurname"   [(ngModel)]="SalonOwnerProfile.ownerSurname" ngDefaultControl></ion-input>
   </ion-item>
   <div class="error" *ngFor="let validate of validation_messages.ownerSurname">
    <div class="messages" *ngIf="addSalonForm.get('ownerSurname').hasError(validate.type) && (addSalonForm.get('ownerSurname').dirty || addSalonForm.get('ownerSurname').touched)">
      {{validate.message}}
    </div>
    </div>

   <ion-item >
     <ion-label > cellphone number</ion-label>
     <ion-input  type="tel" maxLength="10" formControlName="personalNumber"  [(ngModel)]="SalonOwnerProfile.personalNumber" ngDefaultControl></ion-input>
   </ion-item>
   <div class="error" *ngFor="let validate of validation_messages.personalNumber">
    <div class="messages" *ngIf="addSalonForm.get('personalNumber').hasError(validate.type) && (addSalonForm.get('personalNumber').dirty || addSalonForm.get('personalNumber').touched)">
      {{validate.message}}
    </div>
    </div>
    
    <ion-item >
     <ion-label > bio </ion-label>
     <ion-input  type="text" formControlName="About"  [(ngModel)]="SalonOwnerProfile.About" ngDefaultControl></ion-input>
   </ion-item>
   <div class="error" *ngFor="let validate of validation_messages.About">
    <div class="messages" *ngIf="addSalonForm.get('About').hasError(validate.type) && (addSalonForm.get('About').dirty || addSalonForm.get('About').touched)">
      {{validate.message}}
    </div>
    </div>
   <br>
   

    <div class="btn">
      <button id="skip" (click)="createprofile(addSalonForm)"  type="submit" [disabled]="!addSalonForm.valid" ion-button clear  large style="color: #fff; width: 100%; letter-spacing: 3px; background: rgba(167, 122, 37, 1); font-size: 100%; padding: 7%; font-family:Georgia, 'Times New Roman', Times, serif;">Create my Profile </button>

 </div>
  </form>
</ion-content>
