page-add-salon {
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    
  }

  .prof {
    position: absolute;
    top: 2%;
  }

  #location {
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(185, 182, 182, 0.705);
    margin: 15px;
    background: transparent;
  }

  .backimage {
    width: 200px;
    height: 200px;
    background: linear-gradient(rgba(128, 128, 128, 0.521)), url('../../assets/imgs/image.png');
    border: 6px solid rgba(128, 128, 128, 0.897);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    top: 90px;

    .btn {

      button {
        border-radius: 50%;
        position: absolute;
        right: 8px;
        bottom: -2px;

      }
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  form {
    position: absolute;
    top: 50%;

    .item {
      width: 40vh;
      background: transparent;
      color: grey;
      .input{
        color: grey;
      }
    }
  }

  #skip {
    position: absolute;
    left: 15%;
    top: 100%;
    width: 200px;
    color: grey;
    // box-shadow: 5px 5px 10px grey;
  }
}
