<ion-header no-border>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <div class="container">

    <div class="title">
      <h1><span>ADD</span> <br> SALON</h1>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="backimage" (click)="selectImage()" *ngIf="!hide">
          <img src="{{SalonCoverImage}}" alt="" class="bimage">
          <div class="btn">
              <ion-icon name="add"></ion-icon>
            </div>
        </div>

        <form [formGroup]="addSalonForm">
          <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')"
            (onAddressChange)="handleAddressChange($event)" id="location" style="font-size: 17px" />
          <ion-item>

            <ion-input type="text" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="salonName" [(ngModel)]="SalonNode.salonName" ngDefaultControl
              placeholder="Salon Name"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.salonName">
            <div class="messages" style="color:red"
              *ngIf="addSalonForm.get('salonName').hasError(validate.type) && (addSalonForm.get('salonName').dirty || addSalonForm.get('salonName').touched)">
              {{validate.message}}
            </div>

          </div>



          <ion-item>

            <ion-input type="tel" maxLength="10" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="SalonContactNo" [(ngModel)]="SalonNode.SalonContactNo"
              ngDefaultControl placeholder="Contact Number"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.SalonContactNo">
            <div class="messages" style="color:red"
              *ngIf="addSalonForm.get('SalonContactNo').hasError(validate.type) && (addSalonForm.get('SalonContactNo').dirty || addSalonForm.get('SalonContactNo').touched)">
              {{validate.message}}
            </div>
          </div>

          <div class="times">
            <ion-item>
              
              <ion-datetime formControlName="openTime" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" displayFormat="h:mm A" pickerFormat="h mm A"
                [(ngModel)]="SalonNode.openTime" ngDefaultControl placeholder="Opening Time"></ion-datetime>
            </ion-item>
            <div class="error" *ngFor="let validate of validation_messages.openTime">
              <div class="messages" style="color:red"
                *ngIf="addSalonForm.get('openTime').hasError(validate.type) && (addSalonForm.get('openTime').dirty || addSalonForm.get('openTime').touched)">
                {{validate.message}}
              </div>
            </div>



            <ion-item>
            
              <ion-datetime formControlName="closeTime" displayFormat="h:mm A" pickerFormat="h mm A"
                [(ngModel)]="SalonNode.closeTime" ngDefaultControl placeholder="Closing Time"></ion-datetime>
            </ion-item>
            <div class="error" *ngFor="let validate of validation_messages.closingTime">
              <div class="messages" style="color:red"
                *ngIf="addSalonForm.get('closingTime').hasError(validate.type) && (addSalonForm.get('closingTime').dirty || addSalonForm.get('closingTime').touched)">
                {{validate.message}}
              </div>
            </div>
          </div>
          <ion-item>

            <ion-input type="text" formControlName="SalonDesc" [(ngModel)]="SalonNode.SalonDesc" ngDefaultControl
              placeholder="Description"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.SalonDesc">
            <div class="messages" style="color:red"
              *ngIf="addSalonForm.get('SalonDesc').hasError(validate.type) && (addSalonForm.get('SalonDesc').dirty || addSalonForm.get('SalonDesc').touched)">
              {{validate.message}}
            </div>
          </div>
          <ion-item>

            <ion-input type="tel" maxLength="2" formControlName="numHairDressers"
              [(ngModel)]="SalonNode.numHairDressers" ngDefaultControl placeholder="Number Of Hairdressers"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.numHairDressers">
            <div class="messages" style="color:red"
              *ngIf="addSalonForm.get('numHairDressers').hasError(validate.type) && (addSalonForm.get('numHairDressers').dirty || addSalonForm.get('numHairDressers').touched)">
              {{validate.message}}
            </div>
          </div>
          <br>
          <button *ngIf="!hide" id="skip" (click)="createSalon(addSalonForm)" type="submit" [disabled]="!addSalonForm.valid"
            ion-button style="width: 50vw; border-radius: 10px; background:#F3E1D5; color: black;position: relative; left: 20% ">
            SAVE SALON</button>
        </form>
      </div>

    </div>
  </div>



</ion-content>
