page-bookings {
  * {
    margin: 0;
    padding: 0;
  }


  .body {
    // font-family: 'Manjari';

    .time {
      display: flex;
      flex-flow: row;
      background: rgba(255, 253, 251, 0.26);
      margin: 15px;
      border-radius: 10px;
      border: 1px solid grey;
      font-family: 'Manjari';
      height: 20vh;
      position: relative;

      // height: 150px;
      .data {
        margin: 3%;

        p {
          margin: 6px;
          
        }

        .buttz {
          position: absolute;
          right: 3%;
          bottom: 7%;

          button {
            width: 4vh;
            height: 6vh;
          }
        }
      }

      .item{
        background: transparent;
      }


      .date {
        background: rgb(219, 120, 21);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        color: white;

        #date {
          transform: rotate(-90deg);
          position: relative;
          top: 40%;
        }
      }


    }
  }


}
