page-bookings {
  * {
    margin: 0;
    padding: 0;
  }
  
  .content{
    font-family: 'Manjari';
  }

  .container {
    font-family: 'Manjari';
    .time {
      display: flex;
      flex-flow: column;
      background: rgba(255, 251, 251, 0.26);
      margin: 15px;
      border-radius: 10px;
      border: 1px solid grey;
      font-family: 'Manjari';
      // height: 150px;

      p {

        margin: 5px;

      }

      #date {
        text-align: right;
      }

      button {
        width: 50px;
     
      }
    }
  }

  
}
