<ion-header no-border>
  <ion-navbar >

      <ion-buttons end (click)="gotoanalysis()">
          <ion-icon name="information-circle" style="font-size: 250%"></ion-icon>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <br>
  <div class="h1">
      <h1 style="text-align: center"><span>Salon</span> <br> Bookings</h1>
  </div>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <br>
        <div class="stylist">
          <ion-item>
            <ion-label style="font-family: Poiret One">Hairdresser</ion-label>
            <ion-select okText="Okay" [(ngModel)]="hairdresser">
              <ion-option *ngFor="let x of staff">{{x.name}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <br><br>
        <div class="datez">
          <ion-calendar #calendar style="font-size: 21px; font-family: Raleway" (onDaySelect)="onDaySelect($event)" (click)="view()"
          [events]="currentEvents"
          (dateSelected)="onDateSelected($event)"
          (onCurrentDateChanged)="onCurrentDatechanged($event)"
          (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)"
          step="30"
          (onDaySelected)=onDaySelect($event)>
          </ion-calendar>
          <br>
          <ion-item>
            <ion-label position="stacked" style="font-family: Poiret One">Selected Date</ion-label>
            <ion-input clear placeholder="session time" type="date" displayFormat="DD/MM/YYYY" min='2019-01-01'
              [(ngModel)]="userdate" readonly style="font-family: Poiret One; font-weight: bold"></ion-input>
          </ion-item>
       

        <div class="body">
          <div class="time" *ngFor="let n of testArray">
            <div class="date">
              <p id="date">{{n.userdate}}</p>
            </div>
            <div class="data">
              <p>Customer Name: {{n.name}}</p>
              <p>{{n.hairstyletype}} from {{n.sessiontime}} until {{n.sessionendtime}}  </p>
              <p> For about {{n.estimatedtime}} minutes</p>
              <p>Client {{n.status}} &nbsp;{{n.late}}</p>
              <p>Contact {{n.cell}}</p>
              <p>Payment:{{n.payment}}</p>
              <div class="buttz">
                <button ion-button  *ngIf="n.payment!='Paid' && n.userdate >= currentday "
                  (click)="cancels(n)" style="background:red">
                  <ion-icon name="close"></ion-icon>
                </button>
                <button ion-button  *ngIf="n.userdate == currentday && n.payment!='Paid' "
                  (click)="paid(n)" style="background:rgb(14, 70, 24)">
                  <ion-icon name="logo-usd"></ion-icon>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>



<ion-fab bottom right>
  <button ion-fab (click) ="bookingModal()"><ion-icon name ="add"></ion-icon></button>
</ion-fab>

</ion-content>
