page-login {

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }


  .form{
      
      .item {
    width: 300px;
    margin: 5px;
    
  } 
  }
 

  
}
