page-login {

  .container {
      display: flex;
      flex-flow: column;
     
      align-items: center;
      width: 100%;
      min-height: 100vh;
      color: white;
      background-image:linear-gradient(30deg, (rgba(65, 43, 56, 0.822))50%, (rgba(0, 0, 255, 0))60%, rgba(191, 150, 126, 0.116), rgba(52, 58, 63, 0.747)), url('../../assets/imgs/ww.jpg');
      position: fixed;
      font-family: 'sans-serif';
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }





  .logo {
    position: absolute;
    top: 5%;
    width: 35%;
    height: 50%;
    // opacity: 0.10;
  }

  .back {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .signin {
  text-align: center;
    // opacity: 0.6;
    padding: 10px;
    h1 {
      font-size: 3vw;
       font-family:sans-serif;
      span {
        font-size:2vw;
      }
    }
  }


  .form {
    align-items: center;
    text-align: center;
    width: 300px;

    .item {
     
      // left: 9%;
      width: 300px;
      text-align: center;
      // border-radius: 50px;
      background: transparent;
      color: white;

    }

    button {
      width:300px;
    }
  }

  .btns {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    p {
      span {
        color: black;
      }
    }
  }

  .scroll-content {
    padding-bottom: 0 !important;
 }
}
