
<ion-content padding>
  <div class="container">
  
    <div *ngIf="!profile" class="noprof">
      <ion-icon name="warning"></ion-icon>

      <p> Oops.. it looks like you dont have your profile set up yet please create profile </p>
      <button (click)="createAccount()" ion-button> Create Profile </button>
      <button (click)="logout()" ion-button> Exit </button>
    </div>

    <div class="main" *ngIf="profile">
      <div class="details">
        <div class="airlogo">
          <img src="../../assets/imgs/Untitled-2.svg">
        </div>
        <div class="name">
          <p>AirSkedge</p>
        </div>
        <div class="propic">
          <p>Lorem ipsum dolor sit amet,
            turpis integer pharetra nunc ut,
            mauris taciti, turpis est.
            At ut eget elit duis distinctio.
            Augue quis</p>
        </div>
      </div>
      <hr>

      <div  class="navs">
        <div class="">
          <button (click)="viewprofile()" ion-button> <ion-icon name="person"></ion-icon></button>
        </div>


        <div class="">
          <button (click)="manageSalon()" ion-button> M</button>
        </div>

        <div class="">
          <button (click)="bookings()" ion-button> <ion-icon name="bookmark"></ion-icon>
          </button>
        </div>

        <div class="">
          <button (click)="info()" ion-button>   <ion-icon name="information-circle"></ion-icon>
          </button>
        </div>



      </div>
    </div>

      <!-- <button (click)="manageSalon()" ion-button> Manage Salon </button> -->
    <!-- <button  (click)="bookings()" ion-button> Bookings</button> -->
  </div>


</ion-content>
