@import url('https://fonts.googleapis.com/css?family=Lato|Teko|Abel|Anton|Dosis|Oxygen|Jura|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Open+Sans+Condensed');

page-landing {
  .content {
    background: linear-gradient(rgba(0, 0, 0, 0.479)), url('../../assets/imgs/afro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .airlogo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 30%;
    top: 2%;
  }

  .noprof {
    display: flex;
    flex-flow: column;
    text-align: center;

    .icon {
      font-size: 100px;
      color: red;
    }

    p {
      font-size: 20px;
      color: white;
    }

    button {
      background: rgba(0, 0, 0, 0.507);
    }
  }

  .navs {
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 10px;
    top: 50%;
    // justify-content: center;

    button {
      width: 50px;
      height: 60px;
      // box-shadow: 10px 10px #888888;
      margin: 10px;
      font-size: 30px;
      background: rgba(83, 80, 80, 0.712);
      cursor: pointer;
    }
  }

  .profile1 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;
    position: absolute;
    top: 20px;
  }

  .details {
    text-align: center;
    color: white;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 60%;
    left: 20px;

    .propic {
      width: 250px;
    }
    #name{
      font-size: 40px;
    }

   
  }

  .main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }


}
