<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>forgotPasswordPage</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="container">
      <div class="back" (click)="goback()">
          <ion-icon name="arrow-back" style=" font-size: 20px;"></ion-icon>
      </div>
      <br><br>

      <div class="title">
        <h1>RESET PASSWORD</h1>
      </div>
      <br>
      <br>
      <div class="lock">
          <ion-icon name="lock" style=" font-size: 200px;"></ion-icon>
      </div>
      <div class="text">
        <p>Enter your email address <br> to reset your password</p>
      </div>

      <div class="form">
          <form [formGroup]="resetPasswordForm">
              <ion-item>
                <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls['email'].valid &&
                  resetPasswordForm.controls['email'].touched">
                </ion-input>
              </ion-item>
              <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid &&
                resetPasswordForm.controls['email'].touched">
                <ion-label>Please enter a valid email.</ion-label>
              </ion-item>
          <br><br>
              <button ion-button round expand="block" color="dark" (click)="resetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid">
                Reset your Password
              </button>
            </form>
      </div>
      <div class="signup">
          <p>Don't have an account? <span (click)="signup()">Sign-Up</span></p>
        </div>
  </div>
  


  <!-- <div class="container">
      <div class="back">
          <ion-icon name="arrow-back" style=" font-size: 20px;"></ion-icon>
      </div>
      <br><br>
      <div class="lock">
          <ion-icon name="lock" style=" font-size: 200px;"></ion-icon>
      </div>
      <div class="text">
        <p>Enter your email address <br> to reset your password</p>
      </div>

      <div class="form">
          <form [formGroup]="resetPasswordForm">
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls['email'].valid &&
                  resetPasswordForm.controls['email'].touched">
                </ion-input>
              </ion-item>
              <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid &&
                resetPasswordForm.controls['email'].touched">
                <ion-label style="font-size: 10px; color: red;">Please enter a valid email.</ion-label>
              </ion-item>
          <br><br>
              <ion-button expand="block" color="dark" (click)="resetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid">
                Reset your Password
              </ion-button>
            </form>
      </div>

      <div class="signup">
        <p>Don't have an account? <span>Sign-Up</span></p>
      </div>
    </div> -->
</ion-content>
