page-forgot-password {
    .container{
        display: flex;
        flex-flow: column;
        align-items: center;
        // justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .back{
        position: absolute;
        left: 10px;
        top: 10px;
        color: grey;
    }
    
    .lock{
        width: 200px;
        height: 200px;
        text-align: center;
        position: absolute;
        top: 15%;
        .icon{
            font-size: 60px;
        }
    }
    
    .signup{
        position: absolute;
        bottom: 0;
        p{

            color: grey;
            span{
            color: blue;
        } 
        }
       
    }
    .text{
        text-align: center;
        font-size: 15px;
        position: absolute;
        top: 45%;
        color: grey;
    }
    
    .item{
        text-align: center;
        background: transparent;
        .input{
            align-items: center;
        }
    }

    .form{
        position: absolute;
        top: 55%;
        width: 300px;
        text-align: center;
        button{
            background: black;
        }
    }
}
