page-edit-profile {

  .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-image: linear-gradient(30deg, #422D39 60%, rgba(255, 255, 255, 0) 40%);
    position: fixed;
    font-family: 'Raleway';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  html {
    text-decoration: none;
    color: #fff;
  }

  .btn {
    position: absolute;
    left: 75%;
    top: 70%;

    button {
      border-radius: 50%;
    }
  }

  .item {
    width: 80vw;
    font-family: 'Poiret One';
    margin: 11px;
    background: transparent;
    color: white;

    .input {
      background: transparent;
    }
  }


  .card {
    width: 100%;
    height: 100vh;
    // background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    text-decoration: none;
    color: #fff;
  }

  .backimage {
    width: 20vh;
    height: 20vh;
    background: linear-gradient(rgba(255, 255, 255, 0.521)), url('../../assets/imgs/_ionicons_svg_ios-person.svg');
    border: 6px solid rgba(128, 128, 128, 0.897);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: 3vh;
    overflow: hidden;

    .image {
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  #location {
    width: 300px;
    height: 5.5vh;
    border-radius: 20px;
    border: none;

    position: relative;
    left: 6%;
    padding: 10px;
    font-size: 4vw;

  }

  .scroll-content {
    padding-bottom: 0 !important;
  }

  .btn1 {
    display: flex;
    flex-flow: column;
    width: 50vw;
    position: relative;
    left: 18vw;

    #skip {
      font-family: 'Poiret One';
      letter-spacing: 4px;
      font-weight: bold;

    }
  }

  .heading {
    position: absolute;
    top: 1%;

    h1 {
      font-family: 'Poiret One';
      color: black;
      text-align: center;
      font-size: 10vw;

      span {
        color: #BF967E;
      }
    }
  }
}
