<ion-header no-border>
    <ion-navbar color="dark">
    </ion-navbar>
  </ion-header>
 
  <ion-content fullscreen>
  
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">

      <div class="maploader">
          <div class="lds-ripple"><div></div><div></div></div>
      </div>
    
    </div>
    <div class="container">
        <div class="heading">
            <h1><span>UPDATE</span><br> PROFILE</h1> 
           </div>
      <div class="card-wrapper">

     
          <div class="backimage"  [ngStyle]="{'background-image': 'url(' + SalonOwnerProfile.image + ')' }" (click)="selectImage()" *ngIf="!hide">
         
          </div>
          
          <br>
          <div class="form1">
            <form [formGroup]="profileForm">

 
              <ion-item color="transparent">
                <ion-input type="text" placeholder="Name" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="name"
                  [(ngModel)]="SalonOwnerProfile.name" ngDefaultControl> </ion-input>
              </ion-item>
 
              <div class="error" *ngFor="let validate of validation_messages.name">
                <div class="messages"
                  *ngIf="profileForm.get('name').hasError(validate.type) && (profileForm.get('name').dirty || profileForm.get('name').touched)">
                  {{validate.message}}
                </div>
              </div>
 
              <ion-item color="transparent">
                <ion-input type="text" placeholder="Surname" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="surname"
                  [(ngModel)]="SalonOwnerProfile.surname" ngDefaultControl></ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.surname">
                <div class="messages"
                  *ngIf="profileForm.get('surname').hasError(validate.type) && (profileForm.get('surname').dirty || profileForm.get('surname').touched)">
                  {{validate.message}}
                </div>
              </div>
 
              <ion-item color="transparent">
                <ion-input type="tel" placeholder="Number" maxLength="10" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="personalNumber"
                  [(ngModel)]="SalonOwnerProfile.personalNumber" ngDefaultControl></ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.personalNumber">
                <div class="messages"
                  *ngIf="profileForm.get('personalNumber').hasError(validate.type) && (profileForm.get('personalNumber').dirty || profileForm.get('personalNumber').touched)">
                  {{validate.message}}
                </div>
              </div>
 
              <ion-item color="transparent">
                <ion-input type="text" placeholder="Tell Us About Yourself" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="About"
                  [(ngModel)]="SalonOwnerProfile.About" ngDefaultControl>
                </ion-input>
              </ion-item>
              <div class="error" *ngFor="let validate of validation_messages.About">
                <div class="messages"
                  *ngIf="profileForm.get('About').hasError(validate.type) && (profileForm.get('About').dirty || profileForm.get('About').touched)">
                  {{validate.message}}
                </div>
              </div>
              <br>
         <div class="btn1" *ngIf="!hide">
            <button id="skip" (click)="createprofile(profileForm)" type="submit" [disabled]="!profileForm.valid"
            ion-button style="border-radius: 10px; width: 50vw; background: #F3E1D5; color: black; font-size: 3vw" full>UPDATE PROFILE </button>

          <button id="skip" (click)="signout()" type="submit" style="color: white; font-size: 3vw" ion-button clear full style="color:white">CANCEL
          </button>
         </div>
            
            </form>
          </div>
     
      </div>
    </div>
  </ion-content>