<ion-content padding>
  <ion-header no-border>
    <ion-navbar color="primary">
    </ion-navbar>
  </ion-header>

  <div class="container">

    <div class="title">
      <p><span>View</span><br>Reviews</p>
    </div>

    <div class="line">

    </div>
    <br>
    <div  style="text-align: center; width: 100vw" *ngIf="!isRated">
      <p> :( No ratings yet for your salon</p>
    </div>
    <div class="card" *ngFor="let n of reviews">
      <div class="image">
        <img *ngIf="!n.image " src="../../assets/imgs/dummyAvatr.png" alt="">
        <img *ngIf="n.image" [src]="n.image">
      </div>
      <div class="details">
        <div class="name">
          <p><span>{{n.name}}</span><br> {{n.review}}</p>
          <div class="rates">
            <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff"
              defaultColor="#f4f4f4" readonly="true" rating={{n.rating}} fontSize="6vw">
            </ionic3-star-rating>
          </div>
        </div>
      </div>
    </div>
    <div class="line2"></div>

  </div>
</ion-content>
