page-ownbookings {
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    // justify-content: center;
    background: url('../../assets/whiteback.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;

  }

  .time {
    position: absolute;
    top: 15%;
    width: 90vw;
  }

  .btnz {
    position: absolute;
    left: 20%;

    button {
      width: 50vw;
      height: 40px;
      border-radius: 10px;
      background: #BF6B7A;
      color: white;
      font-family: 'Poiret One';
      letter-spacing: 3px;
    }
  }

  .appmnts {
    ion-item {
      font-family: 'poiret One';
    }
  }

  .h2 {
    text-align: center;

    h4 {
      font-family: 'Poiret One';
      font-weight: bold;
    }

    h3 {
      font-family: 'Poiret One';
    }
  }


  [ng-reflect-name="customcircles"] {
    background-image: url('https://loading.io/spinners/cutiefox/lg.cutie-fox-spinner.gif');
    background-size: cover;
  }
}
