@import url('https://fonts.googleapis.com/css?family=Lato|Teko|Abel|Anton|Dosis|Oxygen|Jura|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Manjari');

page-home {

  .onboard1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(30deg, #422D39 50%, rgba(52, 58, 63, 0) 40%), url('../../assets/imgs/iPhone\ X-XS\ –\ 100.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

  .onboard2 {
    background-image: linear-gradient(30deg, #422D39 50%, rgba(52, 58, 63, 0) 40%), url('../../assets/imgs/iPhone\ X-XS\ –\ 101.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .onboard3 {
    background-image: linear-gradient(30deg, #422D39 50%, rgba(52, 58, 63, 0) 40%), url('../../assets/imgs/iPhone\ X-XS\ –\ 99.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  ion-slide {
    .rotate {
      width: 90vw;
      height: 80vh;
      position: absolute;
      bottom: 10px;
      left: -35%;

      h1 {
        transform: rotate(-90deg);
        position: relative;
        bottom: 25vh;
        color: white;
        font-family: 'Raleway';
        letter-spacing: 5px;
      }
    }
  }

  .title {
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100vw;

    h1 {
      font-family: 'Poiret One';
      color: white;
      font-size: 10vw;
    }
  }

  .text {
    width: 70vw;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 50%;

    p {
      font-size: 6vw;
      color: white;
      font-family: 'Poiret One';
    }
  }

  .btnz {
    width: 100vw;
    position: absolute;
    top: 75%;

    button {
      width: 40vw;
      color: black;
      font-family: 'Poiret One';
      background: #F3E1D5;
      letter-spacing: 4px;
    }
  }


}

ion-header[transparent] .toolbar-background {
  background: transparent;
}
