page-salon-registrationpage {
  .content {
    height: 100%;
    background: #ebeef8;;
  
  }
  .container{
    margin: 0;
    padding:0;
    height: 100vh;
    background-image:linear-gradient(30deg, (rgba(65, 43, 56, 0.952))70%, (rgba(0, 0, 255, 0))30%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
overflow: hidden;
  }
  .form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 80vh;
    overflow: hidden;
    
 
  }

  .btn {
    position: absolute;
    left: 75%;
    top: 70%;
    button {
      border-radius: 50%;
    }
  }

  .item {
    position: relative;
    // left: 9%;
    width: 300px;
    height: 50px;
    text-align: center;
    // border-radius: 50px;
    background: transparent;
    color: rgb(14, 13, 13);
    border: 1px solid green;

  }


 .card {
  border: 2px solid black;
  height: 100%;
/* background: linear-gradient(rgb(247, 148, 0),rgb(241, 164, 112),rgba(243, 217, 160, 0.952));
  // */   display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: auto;
  
 
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .backimage {
    border: 2px solid blue;
    width: 180px;
    height: 180px;
    margin-top: 15px;
    background: linear-gradient(rgba(128, 128, 128, 0.521)), url('../../assets/imgs/image.png');
    // border: 4px solid rgba(255, 255, 255, 0.897);
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    


    img{
      border: 2px solid blue;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .bimage{
      width: 180px;
      height: 180px;
      z-index: -1;
      object-fit: cover;
     
    }

    .image{  width: 100%;
      border: 2px solid yellow;
    object-fit: cover;
    border-radius: 50%;

    img{
      width: 100%;
    
      object-fit: cover;
      border-radius: 50%;
    }
    }
    .back {
      border: 2px solid blue;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  
    .signin {
      border: 2px solid blue;
      position: absolute;
      top: 25%;
      text-align: center;
      // opacity: 0.6;
      padding: 10px;
      h1 {
        font-size: 3vw;
  
        span {
          font-size:2vw;
        }
      }
    }
  
  
    // .form {
    //   border: 2px solid blue;
    //   position: absolute;
    //   top: 40%;
    //   // left: 10%;
    //   align-items: center;
    //   text-align: center;
    //   width: 300px;
  
      // .item {
      //   border: 2px solid blue;
      //   position: relative;
      //   // left: 9%;
      //   width: 300px;
      //   text-align: center;
      //   // border-radius: 50px;
      //   background: transparent;
      //   color: white;
  
      // }
    // }  
  }

  #location {
    width: 50vh;
    height: 5.5vh;
    border-radius: 20px;
    border: none;

    position: relative;
    left: 6%;
    padding: 10px;
    font-size: 4vw;
   
  }
  #skip{
    width: 100%;
    color: bisque;
  }
  .messages{
    color: red;
  }


}
