page-salon-registrationpage {


  .container{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image {
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(128, 128, 128, 0.397)), url('../../assets/imgs/image.png');
    background-repeat: no-repeat;
    background-position: center;
   
  }

  form{
    position: absolute;
    top: 300px;
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .item{
      background: rgba(0, 0, 0, 0.507);
    }
  }
}
