<ion-content>

  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>

  <div class="container">
    <div class="title">
      <h1><span>CREATE </span><br> PROFILE</h1>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="backimage" (click)="selectImage()">
          <img src="{{profileImage}}" alt="" class="bimage">
        </div>
      </div>
    </div>

    <div class="form">
      <form [formGroup]="profileForm">
        <!-- <input id="location" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
               (onAddressChange)="handleAddressChange($event)" /> -->
        <ion-item>
          <ion-input   (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" type="text" placeholder="Name" formControlName="name" [(ngModel)]="SalonOwnerProfile.name"
            ngDefaultControl>
          </ion-input>
        </ion-item>

        <div class="error" *ngFor="let validate of validation_messages.name">
          <div class="messages"
            *ngIf="profileForm.get('name').hasError(validate.type) && (profileForm.get('name').dirty || profileForm.get('name').touched)">
            {{validate.message}}
          </div>
        </div>

        <ion-item>
          <ion-input   (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" type="text" placeholder="Surname" formControlName="surname" [(ngModel)]="SalonOwnerProfile.surname"
            ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.surname">
          <div class="messages"
            *ngIf="profileForm.get('surname').hasError(validate.type) && (profileForm.get('surname').dirty || profileForm.get('surname').touched)">
            {{validate.message}}
          </div>
        </div>

        <ion-item>
          <ion-input   (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" type="tel" placeholder="Number" maxLength="10" formControlName="personalNumber"
            [(ngModel)]="SalonOwnerProfile.personalNumber" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.personalNumber">
          <div class="messages"
            *ngIf="profileForm.get('personalNumber').hasError(validate.type) && (profileForm.get('personalNumber').dirty || profileForm.get('personalNumber').touched)">
            {{validate.message}}
          </div>
        </div>

        <ion-item>
          <ion-input   (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" type="text" placeholder="Tell Us About Yourself" formControlName="About"
            [(ngModel)]="SalonOwnerProfile.About" ngDefaultControl>
          </ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.About">
          <div class="messages"
            *ngIf="profileForm.get('About').hasError(validate.type) && (profileForm.get('About').dirty || profileForm.get('About').touched)">
            {{validate.message}}
          </div>
        </div>
        <br>

        <button  *ngIf="!hide"  id="skip" (click)="createprofile(profileForm)" type="submit" [disabled]="!profileForm.valid" ion-button
          style="background:#F3E1D5;color:black; width: 50vw; border-radius: 5px; font-family: Poiret One; letter-spacing: 4px; font-weight: bold">DONE</button>

        <button  *ngIf="!hide"  id="skip" (click)="signout()" type="submit" ion-button clear full style="color:white; font-family: Poiret One; letter-spacing: 4px; font-weight: bold">CANCEL
        </button>
      </form>
    </div>

  </div>

</ion-content>
