<!-- <ion-header>
  <ion-navbar>
    <ion-title>manageHairSalon</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>

  <div class="profile">
    <div class="name">
      <p>Salon Owner Name</p>
    </div>
    <div class="propic" (click)="ViewUserPorfilePage()">
      <p>Profile</p>
    </div>
  </div>
  <div class="msg" *ngIf="!isSalon">

    <ion-icon name="warning"></ion-icon>

    <p>You currently don't <br> have a salon,<br> please create a salon</p>
    <button (click)="addSalon()" color="dark" full ion-button> add</button>
  </div>

  <div *ngIf="isSalon">
    <div class="Profimage">
      <img src="{{displayProfile.salonImage}}">

      <div class="displayName">

        <h4>{{displayProfile.salonName}} {{displayProfile.location}} </h4>

      </div>
    </div>
    <!-- <div class="contact">
        <div class="number"><p>{{displayProfile.SalonContactNo}}</p></div>
        <div class="line"></div>
        <div class="email"><p>{{displayProfile.numHairDressers}}</p></div>
      </div> -->

    <div *ngIf="!isHairstyle">
      <p> No record of hair Styles please add your hair styles</p>
    </div>


    <div *ngIf="isHairstyle" class="cards">
     

    </div>

    <button (click)="addStyle()" ion-button> add hairstyle</button>
  </div>
</ion-content>
