@import url('https://fonts.googleapis.com/css?family=Abel|Poiret+One|Open+Sans+Condensed|Jura|Manjari|Poppins|Raleway|Montserrat ');

page-manage-hair-salon {

  .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }

  .back-button-md,
  .back-button-ios {
    color: black;
  }

  .container {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    // justify-content: center;
  }

  #top {
    width: 100vw;
    // height: 100vh;
  }

  .line {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 56vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
  }

  .desc {
    position: relative;
    top: 1px;
    p {
      font-family: 'Raleway';
      text-align: center;
      margin: 5px;
      font-size: 3vw;
    }
  }

  .Profimage {
    width: 100vw;
    height: 45vh;
    position: relative;
    top: 0;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: black;



    .contact {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      position: absolute;
      top: 37vh;
      left: 30%;
      width: 40vw;

      z-index: 5;
      color: rgb(187, 185, 185);
      font-family: 'Raleway';

      .likes {
        font-size: 3.5vw;
        text-align: center;
        margin: 5px;
      }

      .views {

        font-size: 3.5vw;
        text-align: center;
        margin: 5px;
      }

      .bookings {

        font-size: 3.5vw;
        text-align: center;
        margin: 5px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
      position: relative;
    }

    .butt {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .displayName {
      color: white;
      position: absolute;
      bottom: 15%;

      // left: 30%;
      padding: 5px;
      width: 100vw;

      span {
        font-size: 4vw;
        font-weight: lighter;
      }


      h4 {
        font-weight: bold;
        font-family: 'Poiret One';
        letter-spacing: 5px;
        font-size: 8vw;
        margin: 0;
        padding: 0;
        color: white;
      }
    }

    .displayName1 {
      position: absolute;
      top: 75%;
      right: 5%;
    }
  }

  .msg {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 15%;

    .icon {
      font-size: 150px;
    }

    p{
      font-family: 'Poiret One';
     
    }

    button{
      background: #422D39;
      width: 90vw;
      font-family: 'Poiret One';
      letter-spacing: 4px;
    }
  }

  .gender {
    position: absolute;
    bottom: -3vh;
    left: 20vw;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background: #F3E1D5;
    box-shadow: 5px 5px 10px lightgrey;
    width: 60vw;
    height: 6vh;
    z-index: 200;
    border-radius: 30px;

    .female {
      width: 50%;
      height: 100%;
      border-radius: 30px;
      align-items: center;
      overflow: hidden;

      button {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        font-family: 'Poiret One';
        font-weight: bold;
        letter-spacing: 3px;
        background: #422D39;
        color: white;
        border: none;
      }

    }

    .male {
      width: 50%;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;

      button {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        font-family: 'Poiret One';
        font-weight: bold;
        letter-spacing: 3px;
        background: #422D39;
        color: white;
        border: none;
      }

    }

    .female-inactive {
      width: 50%;
      height: 100%;
      border-radius: 30px;
      align-items: center;
      overflow: hidden;

      button {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        font-family: 'Poiret One';
        font-weight: bold;
        letter-spacing: 3px;
        background: #F3E1D5;
        color: rgb(24, 24, 24);
        border: none;
      }

    }

    .male-inactive {
      width: 50%;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;

      button {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        font-family: 'Poiret One';
        font-weight: bold;
        letter-spacing: 3px;
        background: #F3E1D5;
        color: rgb(24, 24, 24);
        border: none;
      }

    }
  }

  .stylez {
    position: absolute;
    top: 60vh;
    width: 100%;
    // height: 90%;
    // padding: 5px;
    display: flex;
    overflow-x: auto;

    .scroll {
      width: 70vw;
      // height: 40vh;
      padding: 10px;

      .picz {
        width: 55vw;
        height: 35vh;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .hairstylez {
        position: absolute;
        margin: 5px 10px;
        top: 50%;

        p {
          font-size: 6vw;
          font-family: 'Poiret One';
          letter-spacing: 5px;
          color: white;
          font-weight: bold;
        }
      }

      .pick {
        border: 2px dashed black;
        width: 55vw;
        height: 35vh;
        border-radius: 10px;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;

        ion-icon {
          font-size: 20vw;
        }
      }
    }

  }

  #fab {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    right: 10px;
  }
}
