page-manage-hair-salon {
  .header{
    
    .toolbar-background{
      background: transparent;
      border: none;
    }
  }

  .Profimage {
    width: 100vw;
    height: 55vh;
    position: relative;
    overflow: hidden;
    background: black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
    }

    .butt {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .container {
      width: 100%;
      height: 100%;
      position: fixed;
      // font-family: 'Manjari';
    }

    .displayName {
      color: white;
      position: absolute;
      bottom: 10%;
      left: 0;
      padding: 5px;
      width: 100vw;

      h4 {
        font-weight: normal;
        font-size: 35px;
        margin: 0;
        padding: 0;
        color: white;
        font-family: 'Manjari';
      }
    }
  }

  .contact {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.219);
    background: #323268;
    color: rgb(227, 228, 255);
    overflow: hidden;
    border-bottom: solid 2px #5657A4;
    font-family: 'Manjari';

    div {
      width: 50%;
      display: grid;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      padding: 10px 0px;

      p {
        font-size: 110%;
        margin: 0;
        padding: 0;
      }
    }

    .line {
      width: 2px;
      background: gray;
    }
  }

  .msg {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 15%;

    .icon {
      font-size: 150px;
    }
  }

  .profile {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    padding: 10px;
    font-family: 'Manjari';

    .propic {
      background: rgba(255, 166, 0, 0.699);
      color: white;
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      left: 350px;
    }

    .name {
      color: white;
      padding: 5px;
      font-size: 20px;
      font-family: 'Manjari';
    }
  }

  .hairdetails {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    font-family: 'Manjari';
    position: relative;
    top: 5vh;
  }

  #cards {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 6px;

    .item {
      width: 49%;
      height: 35%;
     
      img {
        width: 50vw;
        height: 30vh;
        box-shadow: 2px 2px 5px grey;
      }

    
    }

  }

  #fab{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
