<ion-header>
  <ion-navbar id="navbar">
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="msg" *ngIf="isnotSalon">
      <ion-icon name="warning"></ion-icon>
      <!-- <button (click)="c()" ion-button> add hairstyle</button> -->
      <p>You currently don't <br> have a salon,<br> please create a salon</p>
      <button (click)="addSalon()" color="dark" full ion-button> add</button>
    </div>

    <div *ngIf="isSalon">
      <div class="Profimage">
        <img src="{{disp.salonImage}}">

        <div class="displayName">

          <h4>{{disp.salonName}} <br>{{disp.streetName}} </h4>

        </div>
        <div class="contact">
          <div class="number">
            <p>{{displayProfile.SalonContactNo}}</p>
          </div>
          <div class="line"></div>
          <div class="email">
            <p>{{displayProfile.numHairDressers}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="!isHairstyle">
        <p> No record of hair Styles please add your hair styles</p>
      </div>
      <div class="hairdetails">
        <div *ngIf="isHairstyle" id="cards">
    
          <ion-item *ngFor="let n of styles">
            <img src="{{n.hairStyleImage}}">
            <p>{{n.hairstyleName}}</p>
            <p>{{n.hairstylePrice | currency:'&#82;'}}</p>
    
            <ion-buttons end style="position: absolute;
              top: 2%;
              left: 73%;
              width: 40px;
              height: 40px;">
              <button ion-button color="danger" (click)="Delete(n)" style="border-radius: 50%;
                width: 30px;
                height: 30px;">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
        </div>
      </div>
      <ion-fab right bottom id="fab">
        <button ion-fab color="dark"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
          <button  (click)="addStyle()" ion-fab><ion-icon name="cut"></ion-icon></button>
          <button  (click)="viewstaff()" ion-fab><ion-icon name="ios-contacts"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

    </div>
  </div>


  <!-- <div class="contact">
        <div class="number"><p>{{displayProfile.SalonContactNo}}</p></div>
        <div class="line"></div>
        <div class="email"><p>{{displayProfile.numHairDressers}}</p></div> | currency:'&#82;'
      </div> -->

<!-- 
  <ion-fab right bottom style="position: fixed">
      <button ion-fab style="background: rgb(210, 105, 30)">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
      <ion-fab-list side="left"  (click)="viewstaff()">
        <button ion-fab>
          <ion-icon name="people"></ion-icon>
        </button>

        <button ion-fab (click)="addStyle()" color="dark" >
            <ion-icon  name="add"></ion-icon>
          </button>
      </ion-fab-list>
    </ion-fab>
     <div padding>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="kittens">
          Kittens
        </ion-segment-button>

        <ion-segment-button value="puppies">
            Puppies
          </ion-segment-button>
        
      </ion-segment>
    </div>
    <div [ngSwitch]="pet">
<ion-list *ngSwitchCase="'puppies'">
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/danai.jpg">
    </ion-thumbnail> 
    <h1>Ruby</h1>
     </ion-item>
</ion-list>

<ion-list *ngSwitchCase="'kittens'">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/image.png">
      </ion-thumbnail> 
      <h1>Oscar</h1>
       </ion-item>
  </ion-list>
    </div> -->

</ion-content>
