
<ion-header>
  <ion-navbar>
    <ion-title>Add Hair-Style</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <section>
  <div class="container">
   
     <!-- input for salon cover image-->
     <div class="card-wrapper">
     <div class="card">
     <div class="backimage">
        <div class="pickImage">
            <button *ngIf="!styleImage" ion-button clear large full (click)="selectImage()">Select hairstyle image</button>
         </div>
      <div *ngIf="profileImage" class="image">
          <img  src="{{styleImage}}">
       </div>
    
  </div>
  </div>

 
  <br>
<div class="form">
  
    <form [formGroup]="addhairStyleForm">
     
        <ion-item >
  
         <ion-input type="text" placeholder="Hairstyle Name" formControlName="hairstyleName" [(ngModel)]="Styles.hairstyleName" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.hairstyleName">
        <div class="messages" *ngIf="addhairStyleForm.get('hairstyleName').hasError(validate.type) && (addhairStyleForm.get('hairstyleName').dirty || addhairStyleForm.get('hairstyleName').touched)">
          {{validate.message}}
        </div>
    
        </div>
     
        <ion-item >
 
         <ion-input type="text"  placeholder="Hairstyle Description" formControlName="hairstyleDesc"   [(ngModel)]="Styles.hairstyleDesc" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.hairstyleDesc">
        <div class="messages" *ngIf="addhairStyleForm.get('hairstyleDesc').hasError(validate.type) && (addhairStyleForm.get('hairstyleDesc').dirty || addhairStyleForm.get('hairstyleDesc').touched)">
          {{validate.message}}
        </div>
 
        </div>
  
        <ion-item >
       
         <ion-input  type="tel" placeholder="Hairstyle Price" maxLength="4" formControlName="hairstylePrice"  [(ngModel)]="Styles.hairstylePrice" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.hairstylePrice">
        <div class="messages" *ngIf="addhairStyleForm.get('hairstylePrice').hasError(validate.type) && (addhairStyleForm.get('hairstylePrice').dirty || addhairStyleForm.get('hairstylePrice').touched)">
          {{validate.message}}
        </div>
 
        </div>
  
        <ion-item>
          <ion-label> Duration</ion-label>
          <ion-select formControlName="duration" [(ngModel)]="Styles.duration" >
            <ion-option *ngFor="let g of Duration" [value]="g.value">{{g.label}}  </ion-option>
          </ion-select>
        </ion-item>
  
       
 
        <ion-item>
            <ion-label> Style gender</ion-label>
            <ion-select formControlName="genderOptions" [(ngModel)]="Styles.genderOptions" >
              <ion-option *ngFor="let g of Gender" value="{{g}}">{{g}}</ion-option>
            </ion-select>
          </ion-item>
        
        <br>
        
        
        <div class="btn">
          <button id="skip" (click)="createStyle(addhairStyleForm)"  type="submit" [disabled]="!addhairStyleForm.valid" ion-button full  round>ADD HAIR STYLE</button>
        
        </div>
      </form>
    </div> 
    </div>
</div>
</section>
</ion-content>
