page-addhair-style {

 
  .item {
  
       box-shadow: 5px 5px 10px rgb(61, 50, 50);
        border-radius: 50px;
        margin: 20px;
        height: 40px;
        width: 340px;
     
      }
  .card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
   
  }
  .card{

    display: flex;
    flex-direction: column;

   
  
    // box-shadow: .5rem 3rem 3rem rgba(0,0,0,0.2);

  }
  

// .container{
//   height: 100%;
// }


// .pickImage{
//   position: absolute;
//   top: 10%;
// }


.backimage {
  width: 210px;
  height: 180px;
  background: linear-gradient(rgba(168, 168, 168, 0.521)), url('../../assets/imgs/image.png');
  border: 4px solid rgba(247, 247, 247, 0.897);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;


// img{
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 50%;
// }
}

.card-wrapper{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.card{
  width: 200vh;
  height: 25vh;

  background-color: #9ba1a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
 
 
}




}
