

<ion-content>
    <ion-header no-border>
        <ion-navbar>
        </ion-navbar>
      </ion-header>


  <div class="container">
    <div class="title">
      <h1><span>ADD</span><br>HAIRSTYLE</h1>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="backimage" (click)="selectImage()">
    
          <img src="{{styleImage}}" alt="" class="bimage">
   
        </div>

    <form [formGroup]="addhairStyleForm">
     
        <ion-item >
          <ion-label stacked>Hairstyle name </ion-label>
         <ion-input type="text" placeholder="" formControlName="hairstyleName" [(ngModel)]="Styles.hairstyleName" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.hairstyleName">
        <div class="messages" *ngIf="addhairStyleForm.get('hairstyleName').hasError(validate.type) && (addhairStyleForm.get('hairstyleName').dirty || addhairStyleForm.get('hairstyleName').touched)">
          {{validate.message}}
        </div>
    
        </div>
     
        <ion-item >
          <ion-label stacked>Hairstyle description </ion-label>
         <ion-input type="text"  placeholder="" formControlName="hairstyleDesc"   [(ngModel)]="Styles.hairstyleDesc" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.hairstyleDesc">
        <div class="messages" *ngIf="addhairStyleForm.get('hairstyleDesc').hasError(validate.type) && (addhairStyleForm.get('hairstyleDesc').dirty || addhairStyleForm.get('hairstyleDesc').touched)">
          {{validate.message}}
        </div>
 
        </div>
  
        <ion-item >
          <ion-label stacked>Price </ion-label>
         <ion-input  type="tel" placeholder="" maxLength="4" formControlName="hairstylePrice"  [(ngModel)]="Styles.hairstylePrice" ngDefaultControl></ion-input>
        </ion-item>
        <div class="error" *ngFor="let validate of validation_messages.hairstylePrice">
        <div class="messages" *ngIf="addhairStyleForm.get('hairstylePrice').hasError(validate.type) && (addhairStyleForm.get('hairstylePrice').dirty || addhairStyleForm.get('hairstylePrice').touched)">
          {{validate.message}}
        </div>
 
        </div>
  
        <ion-item>
          <ion-label stacked> Duration</ion-label>
          <ion-select formControlName="duration" [(ngModel)]="Styles.duration" >
            <ion-option *ngFor="let g of Duration" [value]="g.value">{{g.label}}  </ion-option>
          </ion-select>
        </ion-item>
  
       
 
        <ion-item>
            <ion-label stacked> Style gender</ion-label>
            <ion-select formControlName="genderOptions" [(ngModel)]="Styles.genderOptions" >
              <ion-option *ngFor="let g of Gender" value="{{g}}">{{g}}</ion-option>
            </ion-select>
          </ion-item>
      
      <pre>
        
      </pre>
          <button ion-button id="hair" (click)="createStyle(addhairStyleForm)"  type="submit" [disabled]="!addhairStyleForm.valid" ion-button full>ADD HAIR STYLE</button>
        
   
      </form>
    </div> 
    </div>
</div>

</ion-content>
