page-addhair-style {
  .header {
    border: none !important;
    box-shadow: none !important;

    .toolbar-background {
      background: transparent;
      border: none;
    }
  }

  .back-button-md,
  .back-button-ios {
    color: black;
  }

  .container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
    height: 100%;
    // height: 100vh;
    background-image: linear-gradient(30deg, #422D39 60%, rgba(52, 58, 63, 0) 40%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    text-align: center;
    font-family: 'Poiret One';
    letter-spacing: 5px;

    h1 {
      font-weight: bold;
      span {
        color: #C0958D;
      }
    }
  }

  .scroll-content {
    padding-bottom: 0 !important;
 }

  .btn {
    position: absolute;
    left: 75%;
    top: 70%;
    button {
      border-radius: 50%;
    }
  }

  .item {
    position: relative;
    width: 80vw;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Poiret One';
  }

  #hair{
    position: relative;
    width: 50vw;
    left: 15vw;
    background: #F3E1D5;
    color: black;
    font-family: 'Poiret One';
    letter-spacing: 3px;
    border-radius: 10px;
  }


 .card {
  
  height: 100%;
  display: flex;
  flex-direction: column;
    flex-direction: column;
    align-items: center;
  
 
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .backimage {
    width: 20vh;
    height: 20vh;
    margin-top: 15px;
    background: linear-gradient(rgba(128, 128, 128, 0.521)), url('../../assets/imgs/_ionicons_svg_ios-person.svg');

    display: grid;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    
    .btn {
      position: absolute;
      z-index: 5;
      left: 40%;
      top: 30%;

      ion-icon{
        font-size: 10vw;
      }
      color: white;
    }

    .bimage{
      width: 100%;
      height: 100%;
   object-fit: cover;
   border-radius: 50%;
     
    }

    .image{  width: 100%;
   
    object-fit: cover;
    border-radius: 50%;

    img{
      width: 100%;
    
      object-fit: cover;
      border-radius: 50%;
    }
    }
    .back {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  
    .signin {
      position: absolute;
      top: 25%;
      text-align: center;
      // opacity: 0.6;
      padding: 10px;
      h1 {
        font-size: 3vw;
  
        span {
          font-size:2vw;
        }
      }
    }
  
  
    .form {
      position: absolute;
      top: 40%;
      // left: 10%;
      align-items: center;
      text-align: center;
      width: 300px;
  
      .item {
        position: relative;
        // left: 9%;
        width: 300px;
        text-align: center;
        // border-radius: 50px;
        background: transparent;
        color: white;
  
      }
    }  
  }

  #location {
    width: 50vh;
    height: 5.5vh;
    border-radius: 20px;
    border: none;

    position: relative;
    left: 6%;
    padding: 10px;
    font-size: 4vw;
   
  }
  #skip{
    width: 100%;
  }
  .messages{
    color: red;
  }

  .scroll-content {
    padding-bottom: 0 !important;
 }

}
