<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding fullscreen>
  <h1 style="text-align: center">AIRSKEDGE</h1>
  <p style="text-align: center">Verson 1.0</p>
  <br>
  <br>
  <div class="list">

    <div class="AboutUs" style="text-align: center">
      <div class="name" (click)="getAbout()">
        <h2>About Us</h2>
      </div>
      <div class="text" *ngIf="!aboutUs" style="text-align: left; margin: 10px;">
        <p>AirSkedge is a startup from Soweto. Since inception, we have been working 
          towards bringing digital change to our community and to those who desire
           to improve the lives of others through technology.

           we are very proud of the work that we have done and we cannot wait to
            share it with the world
        </p>
      </div>

    </div>

    <div class="disclaimer" style="text-align: center">
      <div class="name" (click)="getdisclaimer()">
        <h2>Disclaimer</h2>
      </div>
      <div class="text" *ngIf="!disclaimer" style="text-align: left; margin: 10px;">
        <p>The information contained on the Application is for general usage only. AirSkedge
          assumes no responsibilty for errors or omissions in the contents of the service.

          In no event shall AirSkedge be liable for any special, direct, indirect, consequential,
          or incidental damages or any damages whatsoever, whether in an action of contract,
          negligence or other tort arising out of or in connection with the use of the service
          or the contents or the service. AirSkedge reserves the right to make additions, deletions,
          or modification to the contents on the service at anytime, without prior notice.
          AirSkedge does not warrant that the application is free of viruses or other harmful components.


        </p>
      </div>
    </div>

    <div class="terms" style="text-align: center">
      <div class="name" (click)="getterms()">
        <h2>Terms Of Use</h2>
      </div>
      <div class="text" *ngIf="!terms" style="text-align: left; margin: 10px; ">
        <p>By downloading, browsing, accessing or using "AirSkedge",
          you agree to be bound by our Terms and Conditions of Use.
          We reserve the right to amend these terms and conditions at any time
          If you disagree with any of these Terms and Conditions of Use, you must
          immediately discontinue your access to the application and your
          use of the services offered on the application. Continued use
          of the application will constitute acceptance of these Terms
          and Conditions of Use, as may be amended from time to time.
        </p>
      </div>
    </div>

    <div class="legal" >
      <div class="name" (click)="getlegal()">
        <h2>Information We Collect</h2>
      </div>
      <div class="text" *ngIf="!legal" style="text-align: left; margin: 10px;">
        <ul>
          <li>Your username, password and email address when you register
            on our application
          </li>
          <li>Profile information that you provide for your user profile.
            (e.g. first and last name, picture, phone number)
          </li>
          <li>User Content(e.g. Photos, comments and other materials) that you post
            on the app
          </li>
          <li>Communcations between the ownee application and the user application</li>
        </ul>



      </div>
    </div>
    <!-- <div class="legal" style="text-align: center">
        <div class="name" (click)="sendSms()">
          <h2>Send SMS</h2>
        </div>
      </div> -->

  </div>
</ion-content>
