<ion-content>
  <ion-header no-border>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <div class="container">
    <div class="image">
      <img *ngIf="staff.staffImage" src="{{staff.staffImage}}" alt="">
      <img *ngIf="!staff.staffImage" src="../../assets/imgs/dummyAvatr.png" class="img">
    </div>

    <div class="namez">
      <p>{{staff.name}} {{staff.staffSurname}}</p>
      <p style="font-size: 4vw">{{staff.personalNumber}}</p>
    </div>

    <div class="availability">
      <p class="word" *ngIf="!staff.isAvialiabe" style="color: red"> Not available</p>
      <p class="word" *ngIf="staff.isAvialiabe" style="color: green">Available</p>
    </div>

    <div class="buttonz">
      <div>
        <button class="avail" (click)="updateAvailiable()" ion-button round>Available</button></div>

      <div>
        <button class="available" (click)="updateNotAvailiable()" ion-button color="danger" clear round>Not
          Available</button>
      </div>
    </div>

    <div class="delete">
        <button class="del" (click)="Delete()" ion-button color="danger" >Remove Stylist</button>
      </div>


    <footer>
      <p>AIRSKEDGE</p>
    </footer>


  </div>
</ion-content>
