page-view-user-porfile {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }
  html{
    font-size: 15px;
    font-family: "roboto", sans-serif;

  }
  a {
    text-decoration: none;
    color: #fff;

  }
  // .section{
  //   padding: 10rem 0;
  //   background: #fff;
  // }
  .heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 1px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
    
  }

  .heading::after{
    content: "";
    width: 100%;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
  
    transform: translateX(-10%);
    border-radius: 2rem;

  }
  .card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
  }
  .card{
    width: 100%;

position: relative;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
    .back{
      position: absolute;
      z-index: 50;
    color: white;
    width: 100%;
    .arowback{
      // position: absolute;
      // left: 20%;
      // float: left;
      font-size: 35px;
      margin-left: 20px;
      // right:200px;
    }

    }
  }
  .card .card-img{
    width: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);

  }
.profile-img{
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -13rem;
  z-index: 999;
  border: 1rem solid #ebeef8;
}
.card h1{
  font-size: 2rem;
  color: #333;
}
.job-title{
  color: #777;
  font-size: 2rem;
  font-weight: 300;
}
.about{
margin: 20px;
}
.details {
  position: absolute;
  z-index: 5;
   bottom: 30px;
   left: 10px;
   color: rgba(255, 255, 255, 0.753);
  font-family: sans-serif;

   .nm {
   #name {
     font-size: 30px;
    }
 }

  .contacts {
   display: flex;
   flex-flow: row;
   justify-content: space-between;
 padding: 5px;
   }
   }

.phone{
    position: absolute;
     left: 5px;
  }

  .container{
    width: 100%;
    height: 100%;
  }
  


  //   .phone{
  //     position: absolute;
  //     left: 5px;
  //   }
  // .container {
  //   display: flex;
  //   flex-flow: column;
  //   width: 100%;
  //   height: 100%;
  // }

  // .main {
  //   width: 100%;
  //   height: 90vh;
  //   position: relative;

  //   .image {
  //     height: 90vh;
  //     width: 100%;
  //     background: black;
  //     position: relative;
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }

  //     .gradient {
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       bottom: 0;
  //       right: 0;
  //       z-index: 5;
  //       background: linear-gradient(rgba(17, 17, 17, 0.459), rgb(12, 12, 12));
  //     }
  //   }

  //   .back {
  //     display: flex;
  //     flex-flow: row;
  //     justify-content: space-between;
  //     position: absolute;
  //     top: 10px;
  //     left: 10px;
  //     z-index: 5;

  //     .icon {
  //       font-size: 30px;
  //       color: white;
  //     }

  //     .exit{
  //       position: absolute;
        
  //       left: 370px;
  //     }
  //   }

  //   .details {
  //     position: absolute;
  //     z-index: 5;
  //     bottom: 30px;
  //     left: 10px;
  //     color: rgba(255, 255, 255, 0.753);
  //     font-family: sans-serif;

  //     .nm {
  //       #name {
  //         font-size: 30px;
  //       }
  //     }

  //     .contacts {
  //       display: flex;
  //       flex-flow: row;
  //       justify-content: space-between;
  //       padding: 5px;
  //     }
  //   }

  //   .phone{
  //     position: absolute;
  //     left: 5px;
  //   }
  // }

  // .place {
  //   display: flex;
  //   flex-flow: row;
  //   justify-content: space-between;
  //   height: 10vh;

  //   .location {
  //     font-size: 20px;
  //     margin: 5px;
  //   }

  //   .up {
  //     .icon {
  //       margin: 5px;
  //       font-size: 30px;
  //       padding: 15px;
  //     }
  //   }
  // }

}
