page-add-staff {
    .container{
      display: flex;
      flex-flow: column;
      // justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: fixed;
    }

    .back{
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
    }

    .propic{
      width: 200px;
      height: 200px;
      background: rgba(128, 128, 128, 0.747);
      position: absolute;
      top:10%;
      border-radius: 50%;
      border: 5px solid grey;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .btnz{
        position: relative;
        top: 100px;
        left: 150px;
        button{
          border-radius: 50%;
        }
      }
    }

    .form1{
      position: absolute;
      top: 45%;
    }

    .btn{
      position: absolute;
      top: 70%;
      width: 250px;
    }
}
