<ion-header no-border>
  <ion-navbar >
  </ion-navbar>
</ion-header>

<ion-content>
    <div [ngClass]="{'loader': loaderAnimate, 'loader-hide': !loaderAnimate}">

        <div class="maploader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
      
      </div>
    <div class="container">
        <pre>
          </pre>
      <div class="title">
        <h1><span>STAFF</span> <br> PROFILE</h1>
      </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="backimage" (click)="selectImage(2)" *ngIf="!hide">
          <img src="{{profileImage}}" alt="" class="bimage">
          <div class="btn">
              <ion-icon name="add"></ion-icon>
          </div>
        </div>


        <form [formGroup]="staffForm">
          <ion-item style="font-family: Poiret One; color: white;">
            <ion-input type="text" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="name" [(ngModel)]="Staff.name" ngDefaultControl placeholder="Stylist Name">
            </ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.name">
            <div class="messages"
              *ngIf="staffForm.get('name').hasError(validate.type) && (staffForm.get('name').dirty || staffForm.get('name').touched)">
              {{validate.message}}
            </div>
          </div>
          <ion-item style="font-family: Poiret One; color: white;">
            <ion-input type="text" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="staffSurname" [(ngModel)]="Staff.staffSurname" ngDefaultControl placeholder="Stylist Surname">
            </ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.staffSurname">
            <div class="messages"
              *ngIf="staffForm.get('staffSurname').hasError(validate.type) && (staffForm.get('staffSurname').dirty || staffForm.get('staffSurname').touched)">
              {{validate.message}}
            </div>
          </div>
          <ion-item style="font-family: Poiret One; color: white;">
            <ion-input type="tel" maxLength="10" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" formControlName="personalNumber" [(ngModel)]="Staff.personalNumber"
              ngDefaultControl placeholder="Stylist Phone Number"></ion-input>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.personalNumber">
            <div class="messages"
              *ngIf="staffForm.get('personalNumber').hasError(validate.type) && (staffForm.get('personalNumber').dirty || staffForm.get('personalNumber').touched)">
              {{validate.message}}
            </div>
          </div>
          <br>
          <ion-item style="font-family: Poiret One; color: white;">
           
            <ion-select formControlName="special" (ionFocus)="inputEvent('open')" (ionBlur)="inputEvent('close')" [(ngModel)]="Staff.specialisation" placeholder="Speciality">
              <ion-option *ngFor="let g of specialisation" [value]="g.value">{{g.label}} </ion-option>
            </ion-select>
          </ion-item>     
          <br>
          <div class="buttonz">
              <button ion-button id="skip" (click)="createStyle(staffForm)" full *ngIf="!hide" >DONE</button>
              <button ion-button id="cancel" (click)=" goback()" full clear *ngIf="!hide">CANCEL</button>
          </div>
          
        </form>
      </div>

    </div>
  </div>





</ion-content>
