page-add-staff {

  .header {
    border: none !important;
    box-shadow: none !important;

    .toolbar-background {
      background: transparent;
      border: none;
    }
  }

  .back-button-md,
  .back-button-ios {
    color: black;
  }

  .myPage {
    .myActionSheetBtnStyle {
      color: red;
    }
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    background: rgb(22, 13, 0);
    background-repeat: repeat-x;
    transform: scale(1);
    overflow: hidden;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: backgroundmover 30s linear infinite;

    .maploader {
      // overflow: hidden;
      width: 64px;
      height: 50px;
      margin: 40vh auto;
      text-align: center;
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      //  animation: maploader 1.2s linear infinite;
      border-radius: 200px;
      display: grid;
      align-content: center;
      position: relative;

      //   border: solid 2px gray;
      .lds-ripple {
        display: inline-block;
        position: relative;
        width: 90px;
        height: 64px;
      }

      .lds-ripple div {
        position: absolute;
        border: 4px solid #fcf;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }

      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }

      @keyframes lds-ripple {
        0% {
          top: 28px;
          left: 28px;
          width: 0;
          height: 0;
          opacity: 1;
        }

        100% {
          top: -1px;
          left: -1px;
          width: 58px;
          height: 58px;
          opacity: 0;
        }
      }



    }
  }

  .loading-text {
    // color: yellow;
    position: absolute;
    bottom: 50vh;
    left: 0px;
    width: 100vw;
    text-align: center;
    // background: red;
    height: 50vh;
    z-index: 50;
  }

  .loader-hide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background: rgb(255, 255, 255);
    transform: scale(0);
    overflow: hidden;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    .maploader {
      // overflow: hidden;
      // width: 70px;
      // height: 50px;
      // margin: 40vh auto;
      // text-align: center;
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      //     animation: maploader 1.2s linear infinite;
      //     border-radius: 200px;
      //     display: grid;
      //     align-content: center;
      //     position: relative;
      //  //   border: solid 2px gray;

      .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }

      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }

      .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }

      .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }

      .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }

      @keyframes lds-facebook {
        0% {
          top: 6px;
          height: 51px;
        }

        50%,
        100% {
          top: 19px;
          height: 26px;
        }
      }



    }
  }

  @keyframes maploader {
    0% {
      // transform: rotate(0deg);
      border-color: rgb(182, 70, 95);
      // background: rgb(255, 192, 192);
    }

    50% {
      // background: rgb(206, 206, 255);
      // transform: rotate(360deg);
      border-color: rgb(42, 50, 75);
    }

    100% {
      border-color: rgb(250, 182, 43);
      // background: rgb(255, 167, 167);
      // transform: rotate(360deg);
    }
  }

  .header {
    border: none !important;
    box-shadow: none !important;

    .toolbar-background {
      background: transparent;
      border: none;
    }
  }

  .back-button-md,
  .back-button-ios {
    color: black;
  }

  .content {
    height: 100%;
    background-image: linear-gradient(30deg, #422D39 60%, rgba(52, 58, 63, 0) 40%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vw;
  }

  .title {
    text-align: center;
    font-family: 'Poiret One';
    letter-spacing: 5px;

    h1 {
      font-weight: bold;
      font-size: 6vw;
      span {
        color: #C0958D;
      }
    }
  }

  .btn {
    position: absolute;
    left: 75%;
    top: 70%;

    button {
      border-radius: 50%;
    }
  }

  .item {
    position: relative;
    width: 90vw;
    text-align: center;
    background: transparent;
    color: rgb(14, 13, 13);

  }


  .card {

    /* background: linear-gradient(rgb(247, 148, 0),rgb(241, 164, 112),rgba(243, 217, 160, 0.952));
  */
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
  }




  .backimage {
    width: 20vh;
    height: 20vh;
    margin-top: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0.486)), url('../../assets/imgs/_ionicons_svg_ios-person.svg');
    box-shadow: 5px 5px 5px lightgrey;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    object-fit: cover;


    .btn {
      position: absolute;
      z-index: 5;
      left: 40%;
      top: 30%;

      ion-icon {
        font-size: 10vw;
      }

      color: white;
    }

    img {

      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .bimage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }


    .back {
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .signin {
      position: absolute;
      top: 25%;
      text-align: center;
      // opacity: 0.6;
      padding: 10px;

      h1 {
        font-size: 3vw;

        span {
          font-size: 2vw;
        }
      }
    }


    .form {
      position: absolute;
      font-family: 'Poiret One';
      align-items: center;
      width: 300px;

      .item {
        position: relative;
        width: 90vw;
        height: 2vh;
        background: transparent;
        color: white;

        ion-input {
          font-family: 'Poiret One';
          color: white;
        }

      }
    }
  }

  #location {
    width: 300px;
    height: 5.5vh;
    border-radius: 20px;
    border: none;
    position: relative;
    left: 6%;
    padding: 10px;
    font-size: 4vw;

  }

  .messages {
    color: red;
  }

  .scroll-content {
    padding-bottom: 0 !important;
  }

  .buttonz {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px 0px;

    #skip {
      width: 50vw;
      border-radius: 10px;
      background: #F3E1D5;
      color: black;
      font-family: 'Poiret One';
      letter-spacing: 4px;
      font-weight: bold;
    }

    #cancel {
      width: 50vw;
      border-radius: 10px;
      font-family: 'Poiret One';
      letter-spacing: 4px;
      color: white;
      font-weight: bold;
    }

  }
}
