<ion-header>
  <ion-navbar color="dark">
    <ion-title>Add Staff Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card-wrapper">
      <div class="card">
        <div class="backimage">
          <img src="{{profileImage}}" alt="" class="bimage">
          <div class="btn">
            <button *ngIf="!profileImage" ion-button color="dark" (click)="selectImage()">
              <ion-icon name="camera"></ion-icon>
            </button>
          </div>
        </div>

  
                  <form [formGroup]="staffForm">
                    <ion-item>
            
                      <ion-label floating> Name
          
                      </ion-label>
                      <ion-input type="text" formControlName="name" [(ngModel)]="Staff.name" ngDefaultControl>
                      </ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let validate of validation_messages.name">
                      <div class="messages"
                        *ngIf="staffForm.get('name').hasError(validate.type) && (staffForm.get('name').dirty || staffForm.get('name').touched)">
                        {{validate.message}}
                      </div>
                    </div>
            <br>
                    <ion-item>
                      <ion-label floating> Surname</ion-label>
                      <ion-input type="text" formControlName="staffSurname" [(ngModel)]="Staff.staffSurname"
                        ngDefaultControl></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let validate of validation_messages.staffSurname">
                      <div class="messages"
                        *ngIf="staffForm.get('staffSurname').hasError(validate.type) && (staffForm.get('staffSurname').dirty || staffForm.get('staffSurname').touched)">
                        {{validate.message}}
                      </div>
                    </div>
            <br>
                    <ion-item>
                      <ion-label floating> Cellphone Number</ion-label>
                      <ion-input type="tel" maxLength="10" formControlName="personalNumber"
                        [(ngModel)]="Staff.personalNumber" ngDefaultControl></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let validate of validation_messages.personalNumber">
                      <div class="messages"
                        *ngIf="staffForm.get('personalNumber').hasError(validate.type) && (staffForm.get('personalNumber').dirty || staffForm.get('personalNumber').touched)">
                        {{validate.message}}
                      </div>
                    </div>
                    <br>
                    <!-- <ion-item>
                      <ion-label> staff email</ion-label>
                      <ion-input type="text"  formControlName="staffEmail"
                        [(ngModel)]="Staff.email" ngDefaultControl></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let validate of validation_messages.staffEmail">
                      <div class="messages"
                        *ngIf="staffForm.get('staffEmail').hasError(validate.type) && (staffForm.get('staffEmail').dirty || staffForm.get('staffEmail').touched)">
                        {{validate.message}}
                      </div>
                    </div>
                    <br>
                    <ion-item>
                      <ion-label> Password</ion-label>
                      <ion-input type="text" formControlName="password"
                        [(ngModel)]="Staff.password" ngDefaultControl></ion-input>
                    </ion-item>
                    <div class="error" *ngFor="let validate of validation_messages.password">
                      <div class="messages"
                        *ngIf="staffForm.get('password').hasError(validate.type) && (staffForm.get('password').dirty || staffForm.get('password').touched)">
                        {{validate.message}}
                      </div>
                    </div>
                    <br> -->
            
            <!-- <button ion-button id="skip" (click)="createStyle(staffForm)" full round>ADD STYLIST</button>
                  </form>
                </div> -->
           
        
            <br>


            <button ion-button id="skip" (click)="createStyle(staffForm)" full round>ADD STYLIST</button>
          </form>
        </div>

      </div>
    </div>





</ion-content>
