<!--
  Generated template for the CreateAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>createAccountPage</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="container">
<!-- 
    <div class="back" (click)="goback()">
        <ion-icon name="arrow-back"></ion-icon>
    </div> -->
      <div class="signin">
          <h1>Welcome <br><span>Sign-Up to continue</span></h1>
        </div>
 
  <div class="form">
      <form [formGroup]="signupForm">
          <ion-item>
            <!-- <ion-label position="stacked">Email</ion-label> -->
            <ion-input formControlName="email" type="email" placeholder="Your email address"
              [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!signupForm.controls['email'].valid
            && signupForm.controls['email'].touched">
            <ion-label style="color:red; font-size: 10px">Please enter a valid email.</ion-label>
          </ion-item>
      <br>
          <ion-item>
            <!-- <ion-label position="stacked">Password</ion-label> -->
            <ion-input formControlName="password" type="password" placeholder="Your password"
              [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
            signupForm.controls['password'].touched">
            <ion-label style="color:red; font-size: 10px">Your password needs more than 6 characters.</ion-label>
            <br>
            <ion-label style="color:red; font-size: 10px">Your password needs more than 15 characters.</ion-label>
          </ion-item>
      <br>
      <br>
          <button ion-button round expand="block" color="dark" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
            Create an Account
          </button>
        </form>
  </div>

  <div class="btns">

      <p>Already have an account? <span (click)=" signin()">Sign-In</span></p>
    </div>
</div>

</ion-content>
