page-create-account {
 
  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-image: linear-gradient(30deg, #422D39 60%, rgba(52, 58, 63, 0) 40%), url('../../assets/imgs/iPhone\ X-XS\ –\ 100.svg');
    position: fixed;
    font-family: 'Raleway';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .scroll-content {
    padding-bottom: 0 !important;
 }


  .logo {
    position: absolute;
    top: 5%;
    width: 20vh;
    height: 20vh;
    // opacity: 0.10;
  }

  .back {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .signin {
    display: flex;
    flex-flow: row;
    text-align: left;
    font-family: SANS-SERIF;
    // opacity: 0.6;
    h3 {
      font-size: 15vw;
    }

    h2{
      font-size: 5vw;
      position: absolute;
      left: 40vh;
      top: 20vh;
    }
  }


  .form {
  
  
    text-align: center;
    width: 80vw;

    .item {
      position: relative;
      font-family: 'Poiret One';
      text-align: center;
      background: transparent;
      color: white;
    }

    button {
      width: 300px;
     
    }
  }

  .btns {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    p {
      span {
        color: black;
      }
    }
  }


  .title{
    h1{
      font-family: 'Poiret One';
      font-size: 8vw;
      letter-spacing: 4px;
      span{
        color: #C0958D;
      }
    }
  }

  #sign{
    background: #F3E1D5;
    color: black;
    font-family: 'Poiret One';
    letter-spacing: 3px;
    width: 50vw;
    position: relative;
    left: 16vw;
  }

}
