page-create-account {
 
  .container {
    display: flex;
    flex-flow: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(rgba(56, 56, 56, 0.678), black), url('https://images.unsplash.com/photo-1520880178538-52017968d5d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    position: fixed;
    // font-family: 'Manjari';
  }

  .logo {
    position: absolute;
    top: 5%;
    width: 40%;
    height: 30%;
    // opacity: 0.10;
  }

  .back {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .signin {
    position: absolute;
    top: 25%;
    text-align: center;
    // opacity: 0.6;
    h4 {
      font-size: 3vw;

      span {
        font-size: 1.5vw;
      }
    }
  }


  .form {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 90%;

    .item {
      width: 100%;
      text-align: center;
      box-shadow: 1px 3px 3px grey;
      border-radius: 50px;
      // background: transparent;
      color: rgb(0, 0, 0);
    }

    button {
      width: 40vh;

    }
  }

  .btns {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    p {
      span {
        color: rgb(255, 145, 0);
      }
    }
  }


}
