page-create-account {
 
  .container {
    display: flex;
    flex-flow: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-image:linear-gradient(30deg, (rgba(65, 43, 56, 0.822))50%, (rgba(0, 0, 255, 0))60%, rgba(191, 150, 126, 0.116), rgba(52, 58, 63, 0.747)), url('../../assets/imgs/ww.jpg');
    position: fixed;
    font-family: 'sans-serif';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .scroll-content {
    padding-bottom: 0 !important;
 }


  .logo {
    position: absolute;
    top: 5%;
    width: 35%;
    height: 50%;
    // opacity: 0.10;
  }

  .back {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .signin {
    display: flex;
    flex-flow: row;
    text-align: left;
    font-family: SANS-SERIF;
    // opacity: 0.6;
    h3 {
      font-size: 15vw;
    }

    h2{
      font-size: 5vw;
      position: absolute;
      left: 40vh;
      top: 20vh;
    }
  }


  .form {
  
  
    text-align: center;
    width: 300px;

    .item {
      position: relative;
      // left: 9%;
      width: 300px;
      text-align: center;
      // box-shadow: 1px 3px 3px grey;
      // border-radius: 50px;
      background: transparent;
      color: white;
    }

    button {
      width: 300px;
      font-family: SANS-SERIF;
    }
  }

  .btns {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    p {
      span {
        color: black;
      }
    }
  }


}
