page-analysis {
  .toolbar {
    padding: 10px;

    .toolbar-background {
      background: transparent;


    }
  }

  .ios,
  .md {

    page-intro {

      ion-slide {
        background-color: #32db64;
      }

      ion-slide img {
        height: 70vh !important;
        width: auto !important;
      }
    }
  }

  #gotit{
    position: absolute !important;
    top: 70vh;
    left: 20vw;
    width: 60vw;
    font-family: 'Poiret One';

    ion-content{
      width: 60vw;
      height: 10vh;
    }

}
}
